@charset "UTF-8";
#welcome-block {
	padding-left: 20px;
	padding-right: 10px;
}
.row-shop {
    border: 2px solid #999;
    border-bottom: none;
    margin: 0 5px;
    padding: .5rem;
}
.row-shop:last-child {
    border-bottom: 2px solid #999;
}
.info-item {
	text-align: center;
}
.shop-name {
    white-space: nowrap;
    overflow-x: scroll;
}
.shop-wrap a {
}